{% load static %}
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Aqua Motus | OTP Confirmation</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'Guest/Pages/images/favicon.png' %}"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Guest/Pages/css/bootstrap.min.css' %}" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'Guest/Pages/css/fontawesome-all.min.css' %}" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'Guest/Pages/css/flaticon.css' %}" />
    <!-- Google Web Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'Guest/Pages/css/style.css' %}" />
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <div id="preloader" class="preloader">
      <div class="inner">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    <section
      class="fxt-template-animation fxt-template-layout3"
     data-bg-image="{% static 'Guest/Pages/images/Images.webp' %}"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-12 fxt-none-991">
            <div class="fxt-header">
              <div class="fxt-transformY-50 fxt-transition-delay-1">
                <a href="{% url 'WebGuest:Index' %}" class="fxt-logo"
                  ><img
                    src="{% static 'Guest/Pages/images/AQUA MOTUS-Circle.png' %}"
                    alt="Logo"
                /></a>
              </div>
              <div class="fxt-transformY-50 fxt-transition-delay-2">
                <h1>Welcome To AQUA MOTUS</h1>
              </div>
              <div class="fxt-transformY-50 fxt-transition-delay-3">
                <p>
                    Is an innovative and sustainable mode of
                    transportation that connects various parts of the city through
                    its intricate network of waterways. Aims to reduce
                    traffic congestion and improve the connectivity of the city
                    while promoting eco-friendly means of transportation.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 fxt-bg-color">
            <div class="fxt-content">
              <div class="fxt-form">
                <h2>Update password</h2>
                <p class="mb-5"></p>
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="email" class="input-label"><b>New Password</b></label>
                    <input type="password" name="Npassword"  class="form-control"  placeholder="******" required="required">
                    
                  </div>
                  <div class="form-group">
                    <label for="email" class="input-label"><b>Confirm Password</b></label>
                    <input type="password" name="Cpassword" class="form-control"  placeholder="******" required="required">
                    
                  </div>
                  <div class="form-group">
                    <button type="submit" class="fxt-btn-fill">Update</button>
                    <button type="reset" class="fxt-btn-fill">Cancel</button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- jquery-->
    <script src="{% static 'Guest/Pages/js/jquery.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'Guest/Pages/js/bootstrap.min.js' %}"></script>
    <!-- Imagesloaded js -->
    <script src="{% static 'Guest/Pages/js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Validator js -->
    <script src="{% static 'Guest/Pages/js/validator.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'Guest/Pages/js/main.js' %}"></script>
  </body>
</html>
