{% extends 'StationMaster/Master_navbar_sidebar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
           font-family: "Times New Roman", Times, serif;
           margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        .btn {
            margin-right: 5px;
        }
        .result-table {
            margin-top: 20px;
        }
        .print-btn {
            margin-top: 20px;
        }
    </style>
</head>
{% block content %}
<body>
    <h1 align="center">Report</h1>
    <div class="container">
        <table class="table">
            <tr>
                <td>Ticket Type</td>
                <td>
                    <select class="form-control" id="txt_ticket" onchange="getReport()">
                        <option value="">....Select....</option>
                        <option value="0">All</option>
                        <option value="1">Public Transport Boat Services</option>
                        <option value="2">Tourism and Recreational Boat Services</option>
                    </select>
                </td>
                <td>From Date</td>
                <td><input type="date" class="form-control" id="txt_fdate" onchange="getReport()"></td>
                <td>To Date</td>
                <td><input type="date" class="form-control" id="txt_tdate" onchange="getReport()"></td>
                <td>Status</td>
                <td>
                    <select class="form-control" id="txt_con" onchange="getReport()">
                        <option value="">....Select....</option>
                        <option value="0">Not Payed</option>
                        <option value="1">Payed</option>
                        <option value="2">Canceled & Not Refunded</option>
                        <option value="3">Cancelled</option>
                        <option value="4">Refunded</option>
                    </select>
                </td>
                <td><button class="btn btn-primary print-btn" onclick="getPrint('result')">Print</button></td>
            </tr>
        </table>
        <div id="result" class="result-table">
            <table class="table">
                <tr>
                    <th>SL No</th>
                    <th>Date</th>
                    <th>Adult Count</th>
                    <th>Children Count</th>
                    <th>Amount(INR)</th>
                    <th>Ticket Number</th>
                    <th>User Name</th>
                    <th>Boat</th>
                    <th>Action</th>
                </tr>
                {% for item in combined_list %}
                <tr>
                    <td>{{ item.counter }}</td>
                    {% if item.type == 'booking' %}
                    <td>{{ item.data.date }}</td>
                    <td>{{ item.data.adults_count }}</td>
                    <td>{{ item.data.childrens_count }}</td>
                    <td>{{ item.data.book_amount }}</td>
                    <td>{{ item.data.ticket_number }}</td>
                    <td>{{ item.data.user.first_name }} {{ item.data.user.last_name }}</td>
                    <td>
                        {% if item.data.service %}
                        {{ item.data.service.assignboat_boat.boat_name }}
                        {% else %}
                        <span style="color: red;">N/A</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.data.payment == 0 %}
                        <span style="color: red;">Not Payed</span>
                        {% elif item.data.payment == 1 %}
                        <span style="color: green;">Payed</span>
                        {% elif item.data.payment == 2 %}
                        <span style="color: green;">Canceled & Not Refunded</span>
                        {% elif item.data.payment == 3 %}
                        <span style="color: red;">Canceled</span>
                        {% elif item.data.payment == 4 %}
                        <span style="color: red;">Refunded</span>
                        {% else %}
                        Error
                        {% endif %}
                    </td>
                    {% elif item.type == 'eventbooking' %}
                    <td>{{ item.data.event_date }}</td>
                    <td>{{ item.data.adult_count }}</td>
                    <td>{{ item.data.children_count }}</td>
                    <td>
                        {% if item.data.status == 0 %}
                            {{ item.data.event_type.event_rate }}
                        {% elif item.data.status == 1 %}
                            {{ item.data.event_type.event_rate }}
                        {% elif item.data.status == 2 %}
                            {{ item.data.event_type.event_rate }}
                        {% elif item.data.status == 3 %}
                            {{ item.data.event_type.event_rate }}
                        {% elif item.data.status == 4 %}
                            {{ item.data.refund_amount }}
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    <td>{{ item.data.event_number }}</td>
                    <td>{{ item.data.user.first_name }} {{ item.data.user.last_name }}</td>
                    <td>
                        {% if item.data.assign %}
                        {{ item.data.assign.boat_name }}
                        {% else %}
                        <span style="color: red;">N/A</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.data.status == 0 %}
                        <span style="color: red;">Not Payed</span>
                        {% elif item.data.status == 1 %}
                        <span style="color: green;">Payed</span>
                        {% elif item.data.status == 2 %}
                        <span style="color: green;">Canceled & Not Refunded</span>
                        {% elif item.data.status == 3 %}
                        <span style="color: red;">Cancelled</span>
                        {% elif item.data.status == 4 %}
                        <span style="color: red;">Refunded</span>
                        {% else %}
                        Error
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function getReport() {
            var ticketType = document.getElementById('txt_ticket').value;
            var status = document.getElementById('txt_con').value;
            var fdate = document.getElementById('txt_fdate').value;
            var tdate = document.getElementById('txt_tdate').value;
            var url = "{% url 'WebStationMaster:AjaxReport' %}";

            $.ajax({
                url: url,
                type: 'GET',
                data: { ticketType: ticketType, status: status, fdate: fdate, tdate: tdate },
                success: function (data) {
                    $("#result").html(data);
                },
                error: function (xhr, errmsg, err) {
                    console.log("AJAX request failed: " + errmsg);
                }
            });
        }

        function getPrint(bill) {
            var printContent = document.getElementById(bill).innerHTML;
            var originalContent = document.body.innerHTML;
            document.body.innerHTML = printContent;
            window.print();
            document.body.innerHTML = originalContent;
        }
    </script>
</body>
</html>
{% endblock content %}
