<div class="container">
    <div id="result" class="result-table">
        <table class="table">
            <tr>
                <th>SL No</th>
                <th>Date</th>
                <th>Adult Count</th>
                <th>Children Count</th>
                <th>Amount(INR)</th>
                <th>Ticket Number</th>
                <th>User Name</th>
                <th>Boat</th>
                <th>Action</th>
            </tr>
            {% for item in combined_list %}
            <tr>
                <td>{{ item.counter }}</td>
                {% if item.type == 'booking' %}
                <td>{{ item.data.date }}</td>
                <td>{{ item.data.adults_count }}</td>
                <td>{{ item.data.childrens_count }}</td>
                <td>{{ item.data.book_amount }}</td>
                <td>{{ item.data.ticket_number }}</td>
                <td>{{ item.data.user.first_name }} {{ item.data.user.last_name }}</td>
                <td>
                    {% if item.data.service %}
                    {{ item.data.service.assignboat_boat.boat_name }}
                    {% else %}
                    <span style="color: red;">N/A</span>
                    {% endif %}
                </td>
                <td>
                    {% if item.data.payment == 0 %}
                    <span style="color: red;">Not Payed</span>
                    {% elif item.data.payment == 1 %}
                    <span style="color: green;">Payed</span>
                    {% elif item.data.payment == 2 %}
                    <span style="color: green;">Canceled & Not Refunded</span>
                    {% elif item.data.payment == 3 %}
                    <span style="color: red;">Canceled</span>
                    {% elif item.data.payment == 4 %}
                    <span style="color: red;">Refunded</span>
                    {% else %}
                    Error
                    {% endif %}
                </td>
                {% elif item.type == 'eventbooking' %}
                <td>{{ item.data.event_date }}</td>
                <td>{{ item.data.adult_count }}</td>
                <td>{{ item.data.children_count }}</td>
                <td>
                    {% if item.data.status == 0 %}
                        {{ item.data.event_type.event_rate }}
                    {% elif item.data.status == 1 %}
                        {{ item.data.event_type.event_rate }}
                    {% elif item.data.status == 2 %}
                        {{ item.data.event_type.event_rate }}
                    {% elif item.data.status == 3 %}
                        {{ item.data.event_type.event_rate }}
                    {% elif item.data.status == 4 %}
                        {{ item.data.refund_amount }}
                    {% else %}
                    None
                    {% endif %}
                </td>
                <td>{{ item.data.event_number }}</td>
                <td>{{ item.data.user.first_name }} {{ item.data.user.last_name }}</td>
                <td>
                    {% if item.data.assign %}
                    {{ item.data.assign.boat_name }}
                    {% else %}
                    <span style="color: red;">N/A</span>
                    {% endif %}
                </td>
                <td>
                    {% if item.data.status == 0 %}
                    <span style="color: red;">Not Payed</span>
                    {% elif item.data.status == 1 %}
                    <span style="color: green;">Payed</span>
                    {% elif item.data.status == 2 %}
                    <span style="color: green;">Canceled & Not Refunded</span>
                    {% elif item.data.status == 3 %}
                    <span style="color: red;">Cancelled</span>
                    {% elif item.data.status == 4 %}
                    <span style="color: red;">Refunded</span>
                    {% else %}
                    Error
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
